<div class="stars-container">
  {{! bind-attr class="isSearching:foo"}}

  <div class="big-star clickable {{star-rated 1 model.rating}}"></div>
  <div class="big-star clickable {{star-rated 2 model.rating}}"></div>
  <div class="big-star clickable {{star-rated 3 model.rating}}"></div>
  <div class="big-star clickable {{star-rated 4 model.rating}}"></div>
  <div class="big-star clickable {{star-rated 5 model.rating}}"></div>
  <div class="clear"></div>
</div>
