<h1>Beers</h1>

<div className="ratingList">
  {{#each model as |beer|}}
    <div class="rating">
      <h2>{{beer.name}}</h2>
      <!-- <p>Owner: {{rental.owner}}</p>
    <p>Type: {{rental.type}}</p>
    <p>Location: {{rental.city}}</p>
    <p>Number of bedrooms: {{rental.bedrooms}}</p> -->
    </div>
  {{/each}}
</div>
